<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml">
<th:block th:fragment="fragment-trend-follow" >
  <div>
    <div class="mb-3">
      <input
              type="text"
              :value="keyword"
              @input="changeKeyword"
              v-on:keypress.enter="processModal"
              class="form-control"
              placeholder="종목을 검색하세요"
      >
    </div>
    <ul>
      <li v-for="stock in stocks">{{stock.stockName}}</li>
    </ul>
  </div>
  <!-- 팝업이라 스크립트가 app이랑 연결되어 있다. -->
</th:block>
</html>