<!--resources/templates/thymeleafEx.html-->

<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">
<th:block layout:fragment="content">
    <!-- Begin Page Content -->
    <div id="app">

        <div class="row py-5" >
            <div class="card mx-auto" style="height: 25rem; width: 25rem;" v-for=" item in newsDto.newsList">
                <img v-bind:src="item.src" class="card-img-top p-2" style="height: 17rem; width: 23rem;" v-bind:alt="item.alt">
                <div class="card-body">
                    <h5 class="card-title">{{ item.alt }}</h5>
                    <div class="text-center">
                        <a v-bind:href="item.href" class="btn btn-primary text-center" target='_blank' >뉴스 더보기</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row py-5" >
            <div class="card mx-auto" style="height: 25rem; width: 80rem;" >
                <h5>코스닥</h5>
            </div>
        </div>

        <div class="row py-5" >
            <div class="card mx-auto" style="height: 25rem; width: 80rem;" >
                <h5>코스피</h5>
            </div>
        </div>

    </div>
    <script>
        const { createApp } = Vue;
        createApp({
            setup() {
            },
            mounted() {
                const v = this;
                v.getNews();
            },
            data() {
                return{
                    newsDto: {
                        news : [],
                    }
                }
            },
            computed:{

            },
            methods: {
                async getNews() {

                    const v = this;
                    v.newsDto = await quantFetch("/api/v1/news/3");
                    console.info(v.newsDto,"v.newsDto");
                    console.info(v.newsDto.newsList,"news")

                },
            }
        }).mount('#app');
    </script>
</th:block>

</html>