<!--resources/templates/thymeleafEx.html-->

<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">
<th:block layout:fragment="content">
    <!-- Begin Page Content -->
    <div id="app">

        <h3 class="text-center pt-5">한국 경제뉴스</h3>
        <hr class="hr" />

        <div v-if="viewWidth > 1600" >
            <div class="row py-5 px-5 justify-content-evenly" v-for="dto in splitNewsDto" v-if="isNewsExist">
                <div class="card col w-50 p-3 mx-2"  v-for="item in dto">
                    <img v-bind:src="item.src" class="card-img-top p-2 mx-auto" style="height: 25rem; width: 30rem;" v-bind:alt="item.alt">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{ item.alt }}</h5>
                        <div class="text-center">
                            <a v-bind:href="item.href" class="btn btn-primary text-center" target='_blank' >뉴스 더보기</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row py-5 px-5 justify-content-evenly" v-else>
                <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar" :style="{ width: progressTime + '%' }" >{{progressTime}}% </div>
                </div>
            </div>
        </div >

        <div v-else>
            <div class="row py-5 px-5 justify-content-evenly" v-for="item in newsDto.newsList" v-if="isNewsExist">
                <div class="card col w-50 p-3 mx-2">
                    <img v-bind:src="item.src" class="card-img-top p-2 mx-auto" style="height: 10rem; width: 10rem;" v-bind:alt="item.alt">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{ item.alt }}</h5>
                        <div class="text-center">
                            <a v-bind:href="item.href" class="btn btn-primary text-center" target='_blank' >뉴스 더보기</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <h3 class="text-center pt-5">한국증시</h3>
        <hr class="hr" />

        <div class="row py-5 px-5 justify-content-evenly" >
            <div class="card col w-50 p-3 mx-2"  >
                <h5>코스닥</h5>
            </div>
            <div class="card col w-50 p-3 mx-2"  >
                <h5>코스피</h5>
            </div>
        </div>
    </div>
    <script>
        const { createApp } = Vue;
        createApp({
            setup() {
            },
            async mounted() {
                const v = this;
                await v.getNews();
                v.swichProgressBar();
                await v.callProgress();
                window.addEventListener('resize', v.handleResize);
            },
            updated(){
                const v = this;
            },
            data() {
                return{
                    newsDto: {
                        news : [],
                    },
                    splitNewsDto:{
                    },
                    isNewsExist: false,
                    progressTime: 0,
                    viewWidth: window.innerWidth,
                }
            },
            computed:{
            },
            watch:{
            },
            methods: {
                async getNews() {

                    const v = this;
                    v.newsDto = await quantFetch("/api/v1/news/4");
                    console.info(v.newsDto,"v.news")
                    v.splitNewsDto = splitIntoChunk(v.newsDto.newsList, 2);
                    console.info(v.splitNewsDto,"split")
                    console.info(v.newsDto,"v.newsDtoasasa")

                },
                swichProgressBar(){
                    const v = this;
                    v.isNewsExist = v.splitNewsDto.length > 0 ? true : false;
                    console.info(v.isNewsExist,"v.isNewsExist")
                },
                async callProgress(){
                    const v = this;
                    const time = 500;
                    let progress = 1;
                    while( progress > v.progressTime ){
                        v.progressTime = progress;
                        progress = await loadingProgressOverTime(v.progressTime,time);
                    }
                },
                handleResize(event) {
                    //width 1600 되면 리사이즈
                    this.viewWidth = window.innerWidth;
                }
            }
        }).mount('#app');
    </script>
    <style>
        .invisible {
            visibility: hidden;
        }
    </style>
</th:block>

</html>