<!--resources/templates/thymeleafEx.html-->

<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}"
      xmlns:v-on="http://www.w3.org/1999/xhtml">
<th:block layout:fragment="content">
    <!-- Begin Page Content -->
    <div id="app" class="container p-3 d-flex justify-content-center align-items-center">
        <div class="card text-center w-50">
            <div class="card-header">
                Login
            </div>
            <div class="card-body">
                <div class="mb-3 text-start">
                    <label for="email" class="form-label">Email</label>
                    <input v-model="userOne.userId" type="email" class="form-control" id="email">
                </div>
                <div class="mb-3 text-start">
                    <label for="password" class="form-label">Password</label>
                    <input v-model="userOne.password" type="password" class="form-control" id="password" v-on:keypress.enter="login">
                </div>
                <span v-show="loginMessage !== '' ">{{loginMessage}}</span>
            </div>
            <div class="card-footer">
                <div class="d-grid gap-2">
                    <button type="button" class="btn btn-primary btn-lg" v-on:click="login">Log in</button>
                </div>
                <div class="m-2">
                    <a href="/view/sign-up" class="link-dark m-1">회원가입</a> | <a href="/view/find-password" class="link-dark m-1">비밀번호 찾기</a>
                </div>
            </div>
        </div>
    </div>
    <script>
        const { createApp, ref } = Vue;
        createApp({
            setup() {
            },
            mounted() {
                const v = this;
            },
            data() {
                return{
                    userOne:{
                        userId: "",
                        password: "",
                    },
                    loginMessage: "",
                }
            },
            computed:{
            },
            methods: {
                async login() {
                    const v = this;
                        const resultData = await quantFetch("/api/v1/login",{
                            method: "POST",
                            body:{
                                userId: v.userOne.userId,
                                password: v.userOne.password
                            }
                        })
                    resultData.grantType ? v.setTokens(resultData) : v.doFailProcess(resultData);

                },
                setTokens(result){
                    document.cookie =  encodeURI(`${accessTokenName}=Bearer ${result.accessToken};path=/;`);//`${accessTokenName}=Bearer ${result.accessToken};path=/;`;
                    //document.cookie = encodeURI(`${refreshTokenName}=Bearer ${result.refreshToken};path=/;`);//`${refreshTokenName}=Bearer ${result.refreshToken};path=/;`;
                    this.goBeforePage();
                },
                doFailProcess(result){
                    this.loginMessage = result.message;
                },
                goBeforePage(){
                    location.href = document.referrer;
                }
            }
        }).mount('#app');
    </script>
</th:block>

</html>