<!--resources/templates/thymeleafEx.html-->

<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}"
      xmlns:v-on="http://www.w3.org/1999/xhtml">
<th:block layout:fragment="content" >
    <!-- Begin Page Content -->
    <div class="container-fluid" id="app">
        <div class="input-group mb-3 mx-auto p-5" >
            <input
                    v-model="stock"
                    v-on:keyup.enter="getData"
                    type="text"
                    class="form-control"
                    placeholder="회사 이름을 넣어주세요"
                    aria-label="Recipient's username"
                    aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button
                        class="btn btn-outline-secondary"
                        type="button"
                        v-on:click="getData"> Button
                </button>
            </div>
        </div>

        <div class="card text-center" v-if="initData">
            <div class="card-header">
                {{ stock }}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ isBuy }}</h5>
                <p class="card-text">90일 추세평균가 : {{ initData.trendFollowPrice }}원</p>
                <p class="card-text">금일 시장종결가 : {{ initData.baseDateClosePrice }}원</p>
                <a href="https://meotlog.tistory.com/69" class="btn btn-primary">추세투자법 더 알아보기</a>
            </div>
            <div class="card-footer text-body-secondary">
                2 days ago
            </div>
        </div>
    </div>
    <script>
        const { createApp, ref } = Vue;
        createApp({
            setup() {
                const message = ref('추세 투자법')
                return {
                    message
                }
            },
            mounted() {
                const v = this;
                v.getData();
            },
            data() {
                return{
                    initData : null,
                    stock: "",
                }
            },
            computed:{
                isBuy(){
                    return this.initData.buy === true ? "매수" : "매도"
                }
            },
            methods: {
                async getData() {
                    const v = this;

                    if( v.stock === ""){
                        return;
                    }

                    const response = await fetch("/api/v1/trend-follow/"+ v.stock);
                    v.initData = await response.json();
                    console.info(v.initData,"v.initData")
                }
            }
        }).mount('#app');
    </script>
</th:block>
</html>