<!--resources/templates/thymeleafEx.html-->

<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}"
      xmlns:v-on="http://www.w3.org/1999/xhtml">
<th:block layout:fragment="content" >
    <!-- Begin Page Content -->
    <div class="container-fluid" id="app">
        <div class="d-flex justify-content-center">
            <ul class="nav nav-pills my-3">
                <li class="nav-item" v-for="(item,idx) in tabs" >
                    <a class="nav-link"
                       v-on:click="clickTab(idx)"
                       :class="{ 'active': activeTab === idx }"> {{ item.name }}
                    </a>
                </li>
            </ul>
        </div>
        <div class="input-group mb-3 mx-auto p-5" >
            <input
                    ref="searchInput"
                    v-model="stock.name"
                    v-on:keypress.enter="getData"
                    v-on:click="clickSearchBar"
                    type="text"
                    class="form-control"
                    placeholder="Search"
                    data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop"
                    aria-label="Recipient's username"
                    aria-describedby="basic-addon2">
            <div class="input-group-append">
            </div>
        </div>

        <div v-if="initData.trendFollowPrice !== 0">

            <div class="card text-center">
                <div class="card-header">
                    {{ stock.name }}
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ isBuy }}</h5>
                    <p class="card-text">75일 추세평균가 : {{ initData.trendFollowPrice }}원</p>
                    <p class="card-text">금일 시장종결가 : {{ initData.baseDateClosePrice }}원</p>
                    <a href="https://meotlog.tistory.com/69" class="btn btn-primary mx-2">추세투자법 더 알아보기</a>
                    <span v-on:click="saveTrendFollow()" class="btn btn-primary mx-2">추세 저장하기</span>
                </div>
                <div class="card-footer text-body-secondary">

                </div>
            </div>

        </div>
        <div>
            <canvas id="myChart"></canvas>
        </div>
        <th:block th:replace="~{ comm/modal.html :: fragment-modal('trend-follow','modal-xl')}"/>
    </div>
    <script >
        const { createApp, ref } = Vue;
        createApp({
            setup() {
                // 없어도 되는데 예시
                // const message = ref('추세 투자법')
                // return {
                //     message
                // }
            },
            mounted() {
                const v = this;

                warnInvest();
            },
            data() {
                return{
                    initData : {
                        trendFollowPrice: 0,
                        baseDateClosePrice: 0,
                        isBuy: false,
                    },
                    stock: {
                        name: "",
                        code: "",
                    },
                    keyword: "",
                    stocks:[],
                    chart: {},
                    activeTab: 0,
                    tabs: [
                        {
                            name: "한국주식",
                            code: "korea"
                        },
                        {
                            name: "가상화폐",
                            code: "coin"
                        },
                    ],
                }
            },
            computed:{
                isBuy(){
                    return this.initData.isBuy === true ? "매수" : "매도"
                }
            },
            watch:{
                keyword: function (val){
                    console.info(val,"watched");
                }
            },
            methods: {
                async getData() {
                    const v = this;
                    if( v.stock.name === ""){
                        return;
                    }

                    const endPoint = `/api/v2/trend-follow/${v.tabs[v.activeTab].code}/${v.stock.name}`
                    v.initData = await quantFetch(endPoint) ;
                    await v.createChart();
                },
                async createChart(){
                    const v = this;
                    v.destroyIfExist();
                    if( v.stock.name === ""){
                        return;
                    }

                    const endPoint = `/api/v2/trend-follows/${v.tabs[v.activeTab].code}/${v.stock.name}`
                    const stockData = await quantFetch(endPoint);
                    v.chart = callChart("myChart",stockData);
                },
                destroyIfExist(){
                    const v = this;
                    if(!isEmptyObject(v.chart)){
                        v.chart.destroy();
                    }
                },
                changeKeyword(e){
                    const v = this;
                    v.keyword = e.target.value;
                    v.searchByKeyword(this.keyword);
                },
                async searchByKeyword(keyword){
                    const v = this;
                    if(keyword === ""){
                        return;
                    }
                    v.stocks = await quantFetch("/api/v1/korea/stocks/"+ keyword);
                },
                clickSearchBar(){
                    const v = this;
                    setTimeout( function(){ v.$refs.modalSearchBar.focus();}, 500 );
                },
                async saveTrendFollow(url){
                    const v = this;
                    Object.assign(v.initData,{stock: v.stock.code})
                    const resultData = await quantFetch("/auth/v1/trend-follow",{
                        method: "POST",
                        body:v.initData
                    })
                    if(resultData.stock){
                        quantAlert('저장되었습니다', 'success');
                    }else{
                        quantAlert(resultData.message, 'danger');
                    }
                },
                clickTab(idx){
                    const v = this;
                    v.clearView();

                    this.tabs[idx];
                    this.activeTab = idx;
                },
                clearView(){
                    const v = this;
                    v.destroyIfExist();
                    Object.assign(v.$data, v.$options.data.call(v));
                },

                /**
====================================================================================================
===================================이하 모달 function=================================================
====================================================================================================
                 */

                closeModal(){
                    const v = this;
                    v.stocks = [];
                    v.keyword = "";
                },
                processModal(){
                    const v = this;
                    v.stock.name = v.keyword;
                    v.getData();
                    myModal.hide();
                },
                processModalByClick(stock,index){
                    const v = this;
                    v.stock.name = v.stocks[index].stockName;
                    v.stock.code = v.stocks[index].stockCode;
                    v.getData();
                    myModal.hide();
                }
            }
        }).mount('#app');

        //모달 컨트롤 위한 bootstrap
        const myModal = new bootstrap.Modal(document.getElementById('staticBackdrop'), {
            keyboard: false
        })

    </script>
</th:block>
</html>