<!--resources/templates/thymeleafEx.html-->

<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}"
      xmlns:v-on="http://www.w3.org/1999/xhtml">
<th:block layout:fragment="content" >
    <!-- Begin Page Content -->
    <div class="container-fluid" id="app">
        <div class="input-group mb-3 mx-auto p-5" >
            <input
                    ref="searchInput"
                    v-model="stock"
                    v-on:keypress.enter="getData"
                    v-on:click="clickSearchBar"
                    type="text"
                    class="form-control"
                    placeholder="Search"
                    data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop"
                    aria-label="Recipient's username"
                    aria-describedby="basic-addon2">
            <div class="input-group-append">
            </div>
        </div>

        <div v-if="initData.trendFollowPrice !== 0">

            <div class="card text-center">
                <div class="card-header">
                    {{ stock }}
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ isBuy }}</h5>
                    <p class="card-text">75일 추세평균가 : {{ initData.trendFollowPrice }}원</p>
                    <p class="card-text">금일 시장종결가 : {{ initData.baseDateClosePrice }}원</p>
                    <a href="https://meotlog.tistory.com/69" class="btn btn-primary mx-2">추세투자법 더 알아보기</a>
                    <span v-on:click="goAuthPage('/auth/user-page')" class="btn btn-primary mx-2">검색한 주식 알림받기</span>
                </div>
                <div class="card-footer text-body-secondary">

                </div>
            </div>

        </div>
        <div>
            <canvas id="myChart"></canvas>
        </div>
        <th:block th:replace="~{/comm/modal.html :: fragment-modal('trend-follow','modal-xl')}"/>
    </div>
    <script >
        const { createApp, ref } = Vue;
        createApp({
            setup() {
                // 없어도 되는데 예시
                // const message = ref('추세 투자법')
                // return {
                //     message
                // }
            },
            mounted() {
                const v = this;
            },
            data() {
                return{
                    initData : {
                        trendFollowPrice: 0,
                        baseDateClosePrice: 0,
                        buy: false,
                    },
                    stock: "",
                    keyword: "",
                    stocks:[],
                }
            },
            computed:{
                isBuy(){
                    return this.initData.buy === true ? "매수" : "매도"
                }
            },
            watch:{
                keyword: function (val){
                    console.info(val,"watched");
                }
            },
            methods: {
                async getData() {
                    const v = this;
                    if( v.stock === ""){
                        return;
                    }
                    v.initData = await quantFetch("/api/v1/trend-follow/"+ v.stock) ;
                    await v.createChart();
                },
                async createChart(){
                    const v = this;
                    if( v.stock === ""){
                        return;
                    }
                    const stockData = await quantFetch("/api/v1/trend-follow/"+ v.stock + "/list") ;
                    callChart("myChart",stockData);
                },
                changeKeyword(e){
                    const v = this;
                    v.keyword = e.target.value
                    v.searchByKeyword(this.keyword)

                },
                async searchByKeyword(keyword){
                    const v = this;
                    if(keyword === ""){
                        return;
                    }
                    v.stocks = await quantFetch("/api/v1/korea/stocks/"+ keyword);
                    console.info(v.stocks,"stocks")
                },
                clickSearchBar(){
                    const v = this;
                    //this.$refs.modalSearchBar.focus();
                    console.info(this.$refs.modalSearchBar,"this.$refs.modalSearchBar")
                    setTimeout( function(){ v.$refs.modalSearchBar.focus();}, 500 );
                },
                goAuthPage(url){
                    goAuthPage(url);
                    console.info(url,"url")
                },
                /**
                 * 이하 모달 function
                 */
                closeModal(){
                    const v = this;
                    v.stocks = [];
                    v.keyword = "";
                },
                processModal(){
                    const v = this;
                    v.stock = v.keyword;
                    v.getData();
                    myModal.hide();
                },
                processModalByClick(stock,index){
                    const v = this;
                    console.info(stock,index,"stock,modal");
                    v.stock = v.stocks[index].stockName;
                    v.getData();
                    myModal.hide();
                }
            }
        }).mount('#app');

        //모달 컨트롤 위한 bootstrap
        const myModal = new bootstrap.Modal(document.getElementById('staticBackdrop'), {
            keyboard: false
        })

    </script>
</th:block>
</html>