<!--resources/templates/thymeleafEx.html-->

<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">
<th:block layout:fragment="content">
  <!-- Begin Page Content -->
  <div id="app">

    <div v-if="viewWidth > 1600" >
      <h3 class="text-center pt-5">추세 추종 투자법</h3>
      <hr class="hr" />

      <div class="row py-5 px-5 justify-content-evenly" >
        <div class="card col w-50 p-3 mx-2" >
          <div class="card-body">
            <h5 class="card-title text-center">card</h5>
            <div class="text-center">
              <a href="#" class="btn btn-primary text-center" target='_blank' >알림 On</a>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div v-else>
      <h3 class="text-center pt-5">추세 추종 투자법</h3>
      <hr class="hr" />

      <div class="row py-5 px-5 justify-content-evenly" v-for="trendFollows in splitedTrendFollows">
        <div class="card col w-50 p-3 mx-2" v-for="trendFollow in trendFollows">
          <div class="card-body">
            <h5 class="card-title text-center">{{ trendFollow.stockName }}</h5>
            <ul class="list-group list-group-horizontal p-1">
              <li class="list-group-item">내가 저장한 상태</li>
              <li class="list-group-item">{{ trendFollow.savedIsBuy }}</li>
            </ul>
            <ul class="list-group list-group-horizontal p-1">
              <li class="list-group-item">금일 상태</li>
              <li class="list-group-item">{{ trendFollow.isBuy }}</li>
            </ul>
            <ul class="list-group list-group-horizontal p-1">
              <li class="list-group-item">오늘 추세평균가</li>
              <li class="list-group-item">{{ trendFollow.trendFollowPrice }}</li>
            </ul>
            <ul class="list-group list-group-horizontal p-1">
              <li class="list-group-item">저장한 추세평균가</li>
              <li class="list-group-item">{{ trendFollow.savedTrendFollowPrice }}</li>
            </ul>
            <ul class="list-group list-group-horizontal p-1">
              <li class="list-group-item">최신 종가</li>
              <li class="list-group-item">{{ trendFollow.closePrice }}</li>
            </ul>
            <ul class="list-group list-group-horizontal p-1">
              <li class="list-group-item">저장한 종가</li>
              <li class="list-group-item">{{ trendFollow.savedClosePrice }}</li>
            </ul>
            <div class="text-center">
              <a href="#" class="btn btn-primary text-center" target='_blank' >알림 On</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <script>
    const { createApp, ref } = Vue;
    createApp({
      setup() {
      },
      mounted() {
        const v = this;
        v.getTrendFollows();
      },
      data() {
        return{
          trendFollows: [],
          splitedTrendFollows:{},
        }
      },
      computed:{
      },
      methods: {
        async getTrendFollows(){
          const v = this;
          v.trendFollows = await quantFetch("/auth/v1/trend-follow");
          v.splitedTrendFollows = splitIntoChunk(v.trendFollows, 2);
        }
      }
    }).mount('#app');
  </script>
</th:block>

</html>